<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
</head>
<body>
    <form method="post">
        <label for="master_id">Мастер</label>
        {{if .Masters}}
            <select name="master_id" id="master_id">
                {{range .Masters}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
        {{else}}
            <p>Нет доступных мастеров</p>
        {{end}}

        <label for="slot_id">Время</label>
        {{if .Slots}}
            <select name="slot_id" id="slot_id">
                {{range .Slots}}
                    <option value="{{.ID}}">{{.Time}}</option>
                {{end}}
            </select>
        {{else}}
            <p>Нет доступных слотов</p>
        {{end}}

        <input type="text" name="customer_name" placeholder="Имя">
        <input type="text" name="customer_phone" placeholder="Телефон">

        <button type="submit">Забронировать услугу</button>
    </form>
</body>
</html>
